@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Oswald&family=Source+Sans+3:wght@300&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Add style to the body, which is ocean in this game */
.ocean {
  position: relative;
  padding: 0;
  margin: 0;
  overflow: hidden;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(0deg, #182848, #2980b9);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Source-Sans-3', cursive;
}

p {
  font-size: 100%;
  font-weight: 400;
  padding: 5px 10px;
}

#crab-text {
  font-size: 160%;
  font-weight: 400;
  margin-top: 50px;
}

#question {
  font-size: 140%;
  font-weight: 400;
  margin-top: 5px;
}

#child-name {
  font-size: 140%;
  font-weight: 400;
  margin-top: 10px
}

#user-input {
font-size: 100%;
font-weight: 400;
padding: 5px 10px;
}

/* Add style to logo image (crab) */
/* Source link: https://pixabay.com/de/users/phananhdung80-22791542/ */
img {
  width: 80px;
  height: 80px;
  margin: 25px 0 0 0;
}

#logo {
  position: relative;
  animation: myfirst ease 5s;
  animation-iteration-count: 1
}

@keyframes myfirst {
  0%   {left:0px; top:0px;}
  50%  {left:0px; top:10px;}
  100% {left:0px; top:20px;}
}

/* Color gradient to header title */
/* The idea was borrowed from Aleksandra.H PP2 "Sunshine guessing game" */
#header-title {
    padding: 5px 0 2px 0;
    margin: 0 auto auto auto;
    background: #FCEABB;
    background: -webkit-repeating-linear-gradient(to right, #FCEABB 24%, #FCCD4D 13%, #F8B500 41%, #FBDF93 71%);
    background: -moz-repeating-linear-gradient(to right, #FCEABB 24%, #FCCD4D 13%, #F8B500 41%, #FBDF93 71%);
    background: repeating-linear-gradient(to right, #FCEABB 24%, #FCCD4D 13%, #F8B500 41%, #FBDF93 71%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Irish Grover', cursive;
    animation: fadeInAnimation ease 5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* The line of text header-hint is made for better user experience and serves as game ethos*/
.header-hint {
  margin: 0 auto 20px auto;
  font-family: cursive;
  color: #ff0081;
}

/* Game area where game takes place after submitting user's name */
#game-area {
background-color: #B8B8B8;
box-sizing: border-box;
width: 30%;
height: 100vh;
max-height: 550px;
max-width: 600px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
padding: 1%;
opacity: 0.6;
border-radius: 10px;
}

#user-input {
  font-size: 100%;
  font-weight: 400;
  padding: 5px 10px;
}

/* Add style to Play with me button and Start button */
/* Code war taken and added from https://webdeasy.de/top-css-buttons/ */
.pink-btn {
  font-family: 'Sans-Source-3', sans-serif;
  display: inline-block;
  font-size: 1em;
  font-weight: normal;
  padding: 0.5em 0.8em;
  margin: 20px 10px 10px 10px;
  margin-left: 
  -webkit-appearance none;
  appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
  
  &:focus {
    outline: 0;
  }
  
  &:before, &:after{
    position: absolute;
    content: '';
    display: block;
    width: 140%;
    height: 100%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 0.5s;
    background-repeat: no-repeat;
  }
  
  &:before{
    display: none;
    top: -75%;
    background-image:  
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 20%, #ff0081 20%, transparent 30%),
    radial-gradient(circle, #ff0081 20%, transparent 20%), 
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
    background-position: 0% 80%, -5% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 85% 30%;
}
  
  &:after{
    display: none;
    bottom: -75%;
    background-image:  
    radial-gradient(circle, #ff0081 20%, transparent 20%), 
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle,  transparent 10%, #ff0081 15%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%),
    radial-gradient(circle, #ff0081 20%, transparent 20%);
    background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }

  &:active{
    transform: scale(0.9);
    background-color: darken(#ff0081, 5%);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
  }
}

/* Add style to rules button */
#rules-btn {
  font-size: 180%;
  font-weight: 400;
  padding: 5px 10px;
  border: none;
  background-color: #B8B8B8;
  color: #00202e;
  float: right;
}

/* Add style to input in get name area*/
input[type=text] {
  width: 160px;
  margin: 10px auto auto auto;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
  padding: 10px 20px 10px 5px;
  transition: width 0.4s ease-in-out;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  -moz-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
}

/* Add style to answer buttons */
.answer-btn {
  width: 50px;
  height: 50px;
  font-size: 20px;
  margin: 15px 5px 15px 5px;
  color: gray;
  background: #efefef;
  border-radius: 100%;
  border: 1px solid gray;
  transition: 1s;
  outline: none;
  -webkit-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  -moz-box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  box-shadow: -2px 2px 10px 0px rgba(92,92,92,1);
  
}

.answer-btn:hover {
  background: #dadada;
  transition: 1s;
}

.answer-btn:focus {
  color: black;
  background: #dadada;
  border: 1px solid black;
  -webkit-box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
  -moz-box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
  box-shadow: inset -2px 2px 10px 0px rgba(92,92,92,1);
}

#time-display {
  font-size: 130%;
  font-weight: 400;
  padding: 5px 10px;
}

#operation {
  font-size: 180%;
  font-weight: 400;
  padding: 5px 10px;
  color: #00202e;

}
/* Swimming bubbles for ocean */
.bubble {
  width: 30px;
  height: 30px;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 100%;
  position: absolute;
  background-color: white;
  bottom: -30px;
  opacity: 0.2;
  animation: bubble 15s ease-in-out infinite,
    sideWays 4s ease-in-out infinite alternate;
}

@keyframes bubble {
  0% {
    transform: translateY(0%);
    opacity: 0.06;
  }
  100% {
    transform: translateY(-120vh);
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 200px;
  }
}

.fa-hourglass-start {
  color:  #e00000;
  padding: 5px 5px;
}

.bubble--1 {
  left: 10%;
  animation-delay: 0.5s;
  animation-duration: 16s;
  opacity: 0.2;
  display: flex; 
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bubble--2 {
  width: 15px;
  height: 15px;
  left: 20%;
  animation-delay: 1s;
  animation-duration: 10s;
  opacity: 0.1;
}

.bubble--3 {
  width: 10px;
  height: 10px;
  left: 30%;
  animation-delay: 5s;
  animation-duration: 20s;
  opacity: 0.3;
}

.bubble--4 {
  width: 25px;
  height: 25px;
  left: 40%;
  animation-delay: 8s;
  animation-duration: 15s;
  opacity: 0.2;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.bubble--5 {
  width: 30px;
  height: 30px;
  left: 40%;
  animation-delay: 10s;
  animation-duration: 15s;
  opacity: 0.1;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bubble--6 {
  width: 10px;
  height: 10px;
  left: 80%;
  animation-delay: 3s;
  animation-duration: 30s;
  opacity: 0.2;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 1px;
  padding-bottom: 1px;
}

.bubble--7 {
  width: 20px;
  height: 20px;
  left: 90%;
  animation-delay: -7s;
  animation-duration: 25s;
  opacity: 0.3;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 1px;
  padding-bottom: 1px;
}

.bubble--8 {
  width: 30px;
  height: 30px;
  left: 70%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.2;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bubble--9 {
  width: 20px;
  height: 20px;
  left: 10%;
  bottom: 30px;
  animation-delay: -5s;
  animation-duration: 19s;
  opacity: 0.2;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 1px;
  padding-bottom: 1px;
}

.bubble--10 {
  width: 40px;
  height: 40px;
  left: 20%;
  bottom: 30px;
  animation-delay: -21s;
  animation-duration: 16s;
  opacity: 0.3;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bubble--11 {
  width: 30px;
  height: 30px;
  left: 90%;
  bottom: 30px;
  animation-delay: -13.75s;
  animation-duration: 20s;
  opacity: 0.1;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bubble--12 {
  width: 25px;
  height: 25px;
  left: 80%;
  bottom: 30px;
  animation-delay: -10.5s;
  animation-duration: 19s;
  opacity: 0.3;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 3px;
  padding-bottom: 3px;
}

.bubble--13 {
  width: 20px;
  height: 20px;
  left: 70%;
  bottom: 30px;
  animation-delay: -15.5s;
  animation-duration: 18s;
  opacity: 0.2;
  display: flex;  
  flex-wrap: wrap;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
}

.number {
  padding: 0 0;
  font-size: 90%;
}
#modal {
  font-size: 3px;
}